<!-- this form displays data from json

<div ng-controller="myCtrl">
  <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>
  <p>{{ans}}</p>
</div>   
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <span *ngFor = "let user of users$">
      <span *ngIf="post.userId == user.id">
      by  {{user.name}} <br>
      {{post.body}} 
      </span> 
     </span>
    </mat-expansion-panel>
  </mat-accordion>
-->

<!--this form displays data from db-->
  <div ng-controller="myCtrl">
    <div class="example-button-row">
      <button 
         mat-raised-button color="primary"
         [routerLink]="'/postsform'">
         Add post
      </button>
    </div>
    <p>{{ans}}</p>
  </div>   
  <mat-accordion>
      <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{post.title}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        by  {{post.author}} <br>
        {{post.body}} <br>
       <button 
       mat-raised-button color="primary"
       (click)=deletePost(post.id)>
       Delete
    </button>  
    <button 
    mat-raised-button color="primary"
    [routerLink]="'/postsform/'+post.id">
    Edit
  </button>
      </mat-expansion-panel>
    </mat-accordion>